cert/*
img/*.png
img/*.jpg
.dockerignore
.gitignore
docker-compose.yml
Dockerfile
package-lock.json
node_modules
.eslintrc.yml
.jshintrc
.prettierignore
.prettierrc
.snyk
src/bin/*

__tests__
jest.config.js

